* {
	margin: 0;
	padding: 0;
}
body {
	background: url(../img/bg.png);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	 font-size: 13px;
	 font-family: Arial, Helvetica, sans-serf;
	 color: #969696;
	 line-height: 1.3em;
	
}
h1, h2, h3, h4, h5, h6 {
	color: #2E2C2D;
	font-family: "Trebushet MS", Arial, Helvetica, sans-serif;
}
header {
	overflow: hidden;
}
.container {
	max-width: 960px;
	min-width: 980px;
	margin: 0 auto;
}
.logo {
	float: left;
	margin-top: 127px;
	margin-bottom: 76px;
	width: 185px;
	height: 41px;
	background: url(../img/APPIXTHEME.png) no-repeat;
}
.header__h1 {
	float: left;
	margin-top: 142px;
	margin-left: 48px;
	color: #939393;
	font-family: "Myriad Pro";
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
}
.header__social {
float: right;
margin-top: 91px;
margin-right: 32px;
}
.header__social a {
	text-decoration: none;
	color: #878787;
}
.content__main {
	// height: 1000px;
	background: #FFF;
}
.navigation {
	width: 100%;
	height: 85px;
	background-color: rgba(235, 232, 225, 0.58);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
}
.navigation ul {
	list-style: none;
	margin-left: 15px;
	overflow: hidden;
}
.navigation li {
	margin-top: 26px;
	display: table-cell;
	float: left;
	margin-left: 15px;
	vertical-align: middle;
}
.navigation li a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	// line-height: 85px;
	color: #413F40;
	padding: 8px 23px;
}
.navigation li a:hover {
	text-decoration: underline;
}

.navigation li a.active{
	background-color: #f45300;
	color: #FFF;
	border-radius: 5px;
	box-shadow: 0 1px 0 white, inset 0 0 4px #802e04;
	
}
.content__white {
	padding: 0 30px;
}
.slogan {
	overflow: hidden;
	margin-bottom: 30px;
}
.slogan__item {
	overflow: hidden;
	float: left;
	width: 33%;
}

.slogan__item div {
	padding-right: 30px;
	padding-top: 15px;
}
.slogan__item p {
	color: #969696;
	font-size: 12px;
	font-weight: 400;
}

.slogan__item h2 {
	font-size: 13px;
	line-height: 20px;
	overflow: hidden;
	margin-bottom: 20px;
}
.slogan__item  i {
	float: left;
	color: #2e2c2d;
	// transform: rotate(-90deg);
	margin-right: 15px;
	
}
.features {
	margin-bottom: 30px;
}
.features img {
	width: 100%;
} 
.service {
	overflow: hidden;
	margin-bottom: 30px;

}
.service__item {
	float: left;
	width: 25%;
}
.service__item__button {
	width: 160px;
	height: 30px;
	background-color: white;
	background-image: linear-gradient(to top, #3f3a3e 0%, #898788 100%);
	border: none;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	text-shadow: 0.7px -0.7px 5px rgba(0, 0, 0, 0.53);
}
.service__item__button a {
	text-decoration: none;
	color: white;
	font-family: "Trebuchet MS";
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	display: block;
	
}
.service__item h2 {
	color: #2e2c2d;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
}
.service__item p {
	color: #969696;
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	margin: 22px 0;
}
.service__item div {
	padding-right: 20px;
}
.service__item__button:hover {
	background-image: linear-gradient(to top, #de4c01 0%, #f59461 100%);

}

.adv {
	overflow: hidden;
	background: url(../img/adv-bg.png);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	height: 125px;
	margin-bottom: 30px;
}
.adv__left {
	float: left;
	width: 60%;
	
}
.adv h2 {
	display: block;
	color: #706d6a;
	font-family: "Trebuchet MS";
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
	padding: 25px 20px;
}
.adv__right {
	float: right;
	width: 40%;
	
}
.adv__button {
	margin-top: 35px;
	margin-left: 40px;
	width: 261px;
	height: 55px;
	background-color: white;
	background-image: linear-gradient(to top, #f45300 0%, #f98f58 100%);
	border: 1px solid #d55a1a;
	border-radius: 27px;
	box-shadow: 0 2px 2px rgba(135, 124, 105, 0.75), inset 0 1px 2px rgba(249, 199, 174, 0.75);
}
.adv__button a {
	text-shadow: 0 1px 0 rgba(159, 85, 47, 0.75);
	color: white;
	font-family: "Trebuchet MS";
	font-size: 20px;
	font-weight: 400;
	line-height: 35px;
	text-decoration: none;
	display: block;
}

.inform {
	overflow: hidden;
}
.inform__left h1,.inform__right h1{
	font-family: "Trebuchet MS";
	font-size: 14px;
	font-weight: 700;
	line-height: 50px;
	margin-bottom: 30px;
}
.inform__left {
	float: left;
	width: 66%;
}
.inform__right {
	float: right;
	width: 34%;
	
}
.inform__bio {
	width: 100%;
	overflow: hidden;
}
.inform__bio__item {
	float: left;
	width: 50%;
	overflow: hidden;
}
.inform__bio__item img {
	float: left;
}

.inform__bio__item h1 {
	color: #343233;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: 400;
	line-height: 50px;
	
}
.inform__bio__item h2 {
	color: #f55909;
	font-family: Arial;
	font-size: 10px;
	font-weight: 400;
	line-height: 50px;
}
